@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --tooltip-bg: rgba(255, 255, 255, 0.8);
    --tooltip-border: 1px solid #d1d5db;
    --tooltip-color: #1f2937;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --tooltip-bg: rgba(38, 38, 38, 0.8);
    --tooltip-border: 1px solid #404040;
    --tooltip-color: #e5e5e5;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    min-height: 100vh;
    font-family:
      Inter,
      system-ui,
      -apple-system,
      sans-serif;
  }
}
